.container {
    background-color: var(--C0);
}

.header {
    height: 10rem;
    background-color: white;
    display: flex;
    align-items: center;
}


.home-banner {
    background-image: url("../img/technology.png");
    background-color: var(--C2);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 4rem 4rem 8rem;
    display: flex;
}

.nav-top {
    overflow: hidden;
    background-image: linear-gradient(whitesmoke, white);
    border-bottom: 1px solid whitesmoke;
    display: flex;

    justify-content: center;
    align-items: center;
}

.conf-info {
    background-color: azure;
}

.home-content {
    padding: 4rem 4rem;
    background-image: linear-gradient(to bottom right, var(--C0), white);
}

.footer {
    color: white;
    background-color: var(--C1);
    padding: 1.5rem 10rem;
    display: flex;
    flex-direction: column;
}


.home-content {
    display: flex;
}

.content-aside {
    background-color: whitesmoke;
    width: 25%;
    margin-left: 2rem;
    margin-bottom: 2rem;
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.content-main {
    flex: 1;
}

.page-banner {
    background-image: url("../img/technology.png");
    background-color: var(--C2);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 4rem;
}